.logo {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

#toggleButton {
    background-color: goldenrod;
    color: white;
    width: 150px;
    height: 50px;
}

#text {
    display: none;
}


