@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: "Roboto", serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;  
}

.toggleButton {
    background-color: goldenrod;
    color: white;
    width: 150px;
    height: 50px;
}

.verborgen {
    display: none;
}

.showing-more {
    display: block;
}


